:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: rgba(255, 255, 255, 0.87); */
  background-color: rgb(214, 248, 227) !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

input {
  margin-left: 0.5em;
  background-color: aliceblue;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
}

/* For Component Library */
.card-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block !important;
}

.text-input {
  background-color: azure;
}

.fab-title {
  height: 40px !important;
  font-size: 0.8em !important;
  width: auto !important;
}
